.page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.video-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.video-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.publisher-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title-more-videos{
    text-align: center;
    margin-top: 70px;
}

.more-videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 70px;
}

.tarjeta{
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px black solid;
    margin-top: 50px;
}